[Unit]
Description=NSFW Detection API
After=network.target

[Service]
ExecStart=cd /home/nsfwdetector/nsfwdetector && pew in nsfwdetector python -m api
Restart=always

[Install]
WantedBy=multi-user.target
