[Unit]
Description=NSFW Detection API
After=network.target

[Service]
User=nsfwblocker
WorkingDirectory=/home/nsfwblocker/nsfwdetector
ExecStart=pew in nsfwdetector python -m api
Restart=always

[Install]
WantedBy=default.target
